* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}
body {
  background-color: #012;
  display: grid;
  min-height: 100vh; /* Usa 'vh' en lugar de '%' para calcular la altura de la ventana */
  margin: 0;
}
html {
  height: 100%;
}
header,
nav,
footer {
  display: grid;
  width: 100%;
}
.container {
  display: grid;
  min-height: 100vh; /* Establece una altura mínima para asegurar que la cuadrícula llene la pantalla */
  grid-template-rows: auto 1fr auto; /* Primera fila para header, segunda fila para main y tercera fila para footer */
  grid-template-columns: 1fr; /* Columnas */ /* Una columna que ocupará todo el espacio disponible */
}
header {
  background: #003366;
  width: calc(100%);
  height: auto; /* Cambia la altura a 'auto' para ajustarse al contenido */
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-row: 1; /* El encabezado ocupa la primera fila */
  margin: 0%;
  padding-left: 2%;
  padding-right: 2%;
}
.svgg,
.logoo,
.headerDerecha {
  height: auto;
  width: 100%;
}
.menuHamburgesa {
  width: 100%;
  display: grid;
  justify-content: start;
  align-content: center;
}
.hamburgesa {
  width: 6rem;
  height: 4rem;
}
rect {
  width: 100%;
  height: 20%;
}
.logoo {
  margin: auto;
  display: grid;
  justify-content: center;
  align-content: center;
}
.logo {
  width: 22rem;
  height: 5rem;
}
.headerDerecha {
  display: grid;
  grid-template-columns: 5rem 5rem;
  grid-template-rows: 1fr;
  justify-items: end;
  align-items: center;
  justify-content: end;
  align-content: center;
}
.user {
  width: 100%;
  height: 4rem;
}
.carrito {
  width: 100%;
  height: 4.5rem;
}
nav {
  grid-row: 2; /* El nav ocupa la segunda fila */
  grid-template-columns: 1fr;
  grid-template-rows: 10.5% 89.5%;
  width: 100%;
  height: 46vh;
  margin-top: 2rem;
  justify-items: center;
  align-items: end;
  justify-content: end;
}
nav p {
  justify-items: start;
  align-items: start;
  justify-content: start;
  padding-bottom: 0.5%;
}
p {
  color: white;
  font-family: "Baloo Chettan 2", cursive;
  font-size: 1.5rem;
  width: 90%;
}
.biblioteca {
  display: grid;
  grid-template-columns: 25rem 25rem 25rem;
  grid-template-rows: 1fr;
  width: 90%;
  height: 100%;
  background-color: #0080d5;
}
nav .cardJuegoBibloteca {
  display: grid;
  align-items: center;
  align-content: center;
  width: calc(100% - 14%);
  height: calc(100% - 10%);
  margin-left: 14%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.cardJuegoBibloteca img {
  width: 100%;
  height: 14rem;
}
.recuadroNombre,
.recuadroNombreGrande {
  background-color: #005d9b;
  font-family: "Baloo Chettan 2", cursive;
  width: calc(100% - 4%);
  height: calc(100% - 4%);
  padding-left: 4%;
  padding-top: 4%;
  padding-bottom: 2%;
}
.recuadroNombre {
  color: white;
  font-size: 1rem;
}
.recuadroNombreGrande {
  color: black;
  font-size: 1.4rem;
  padding-top: 0%;
}
/*------------------------------------------------------*/
.medium {
  display: flex;
  justify-content: center;
}
.main {
  background-color: #0080d5;
  border-radius: 15px;
  width: 90%;
  padding: 10px 40px;
  overflow: hidden;
}

.main .swiper-main {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  text-align: start;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px rgba(196, 196, 196, 0.25);
}
.swiper-slide:hover img {
  filter: blur(5px);
}
.swiper-slide .card-tittle p {
  font-size: 0.8rem;
}
.swiper-slide .card-text p {
  font-size: 1.1rem;
  color: black;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.main .card-descripcion {
  padding: 0.3rem 0.5rem 0.5rem;
  background-color: #005d9b;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.main .card-descripcion .card-tittle {
  font-size: 1rem;
}
.swiper-button-next {
  right: 26px !important;
}
.swiper-button-prev {
  left: 26px !important;
}

footer {
  grid-row: auto;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr;
  background-color: #202020;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
