body {
  margin: 0;
  padding: 0;
  background-image: url(../images/fondo.jpeg);
  backdrop-filter: blur(4px);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Baloo Chettan 2', cursive;
}



a {
  color:rgb(133, 185, 252)
}

.center-logo {
  text-align: center;
}

.separator-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.separator {
  background-color: grey;
  height: 1px;
  width: 50%;
  margin-bottom: 10px;
}

.form {
  display: grid;
  place-items: center;
}

.form label {
  display: flex;
}

.form input {
  width: 300px;
  height: 30px;
  
}

.loginButton {
  font-size: 20px;
  color: #fff;
  background-color: #29ca8e;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  display: grid;
  place-content: center;
}

.container-captcha {
  display: flex;
  justify-content: center;
}

.captcha {
  height: 80px;
  margin: 10px;
}

.load {
  pointer-events: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  animation: animationButton 1s ease infinite;

}

@keyframes animationButton {
  0%{
    transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
  }
  
}

button {
  border: 0;
  background-image: linear-gradient(150deg, #008000, #2cb32c, #004100);
  display: flex;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.item {
  display: flex;
  padding: 20px;
}

u {
  padding: 35px;
}

footer {
  background-color: #003366;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.password {
  display: flex;
}

img {
  padding: 5px;
}

.image-container2 {
  display: flex;
  justify-content: right;
  align-items: center;
}

.image:first-child {
  margin-right: auto;
}

.image {
  height: 150px ;
}

.container-login {
  text-align: center;
  font-size:22px;
}


.separator2 {
  background-color: grey;
  height: 1px;
  
}

.redirect {
  color: #5263FF;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.image-size {
  width: 350px;
  height: 50px;
}

.form input, .input-subscribe {
  text-align: center;
  border-radius: 10px;
  height: 10px;
  padding: 15px;
  margin: 15px;
  
}
