body {
  margin: 0;
  padding: 0;
  background-image: url(../images/fondo.jpeg);
  backdrop-filter: blur(4px);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}


a {
  color:rgb(133, 185, 252)
}

.center-logo {
  text-align: center;
}

.separator-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.separator {
  background-color: grey;
  height: 1px;
  width: 50%;
  margin-bottom: 50px;
}

.form {
  display: grid;
  place-items: center;
}

.form label {
  display: flex;
}

.form input {
  width: 300px;
  height: 30px;
  
}

button {
  border: 0;
  background-image: linear-gradient(150deg, #008000, #2cb32c, #004100);
  display: flex;
  border-radius: 30px;
  padding: 3px;
  margin: 30px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button span {
  font-size:x-large;
  background-color: #2cb32c;
  padding: 15px 50px;
  border-radius: 30px;
  transition: 0.3s;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(1);
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 40%;
  
}

.item {
  display: flex;
  padding: 20px;
}

u {
  padding: 35px;
}

footer {
  background-color: #202020;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.password {
  display: flex;
}

img {
  padding: 5px;
}

.container-login {
  text-align: center;
}

.user {
  margin: 30px;
}

.separator2 {
  background-color: grey;
  height: 1px;
  width: 250%;
  
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
